/* init */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* 메인 영역 */
div[class=main-content] {
    position:relative;
    background-color: rgb(116, 116, 210);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 타이틀 섹션 */
div[class="main-content"] > div[class="nav-section"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #88d5f8;
    position: relative;
}

/* 타이틀 */
div[class="nav-section"] > div[class="title-section"] {
    position: absolute;
    width: 100%;
    height: 50%;
    color: white;
    margin-left: 10%;
}

/* 토글버튼 */
div[class="toggle-section"] button{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a0e1ff;
    cursor: pointer;
    border-radius: 10px;

}
/* 토글영역 */
div[class="nav-section"] > div[class="toggle-section"] {
    position: absolute;
    width: 10%;
    height: 60%;
    border-radius: 10px;
    background-color: #f03d3d;
}


/* 제목 영역
div[class=top-title-section] {
    width: 100vw;
    height: 5vh;
    font-size: 5em;
    background-color: #d9f2fe;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
} */

/* 제목 영역 -> 제목 */
/* div[class=top-title-section] > div[class="title"] {
    position: absolute;
    width: 50%;
    height: 50%;
    font-size: 1rem;
} */

/* 이미지 영역 */
div[class=image-section] {
    width: 100vw;
    height: 70vh;
    background-color: rgb(242, 242, 218);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 폴리곤 이미지 영역 */
/* div[class=four-image-section] > div[class=polygon-ice] {
    display: flex;
    width: 30%;
    height: 30%;
    background-color: rgb(178, 84, 84);
    width: 100vmin;
    height: 84vmin;
    -webkit-clip-path: polygon(12% 44%, 46% 33%, 80% 36%, 100% 53%, 81% 74%, 48% 69%, 34% 72%, 12% 69%, 0% 2%);
    clip-path: polygon(2% 44%, 46% 33%, 80% 36%, 100% 53%, 81% 74%, 48% 69%, 34% 72%, 12% 69%, 0% 72%);
    position: absolute;
    background: linear-gradient(#dde 30%, #eee 60%);
    top: 2%;
    left: 50%;
    transform: translatex(-50%);

} */

/* 이미지 영역의 이미지 박스 영역 */
div[class=image-section] > div[class="four-image-section"]{
    width: 100%;
    height: 100%;
    background-color: #a0e1ff;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    perspective: 400px;
}

/* 이미지 박스 */
div[class~=image-box] {
    box-sizing: border-box;
    margin: 50px;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: 2px solid #4a8cab;
    /* box-shadow: 0px 5px 10px 0.4px #969f9f;; */
    background-color: #ffffff;
    /* animation-name: image-box; */
    animation-delay: 1.2s;
    animation-duration: 2s, 0.2s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-fill-mode: both;
    position: relative;
}
/* 박스 애니메이션 */
@keyframes image-box {
    0%{
        width: 0%;
        height: 0%;
    }
    100% {
        width: 50%;
        height: 70%;
    }
}

/* 이미지 박스 가우시안 */
div[class~=image-box] > div[class="gausian"]{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* box-shadow: 2px -1px 2px 0.5px rgb(196, 214, 246); */
    background-color: rgba(88, 190, 223, 1);

}



/* 이미지 박스 가우시안 마우스 올려졌을 때*/
div[class~=image-box] > div[class="gausian"]:hover{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0);
    animation-name: gausian;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes gausian {
    0% {
        border-radius: 10px;
        background-color: rgb(88, 190, 223);
    }
    100% {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
}


/* 가우시안 텍스트 */
div[class="gausian"] h2{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    color: white;
}


/* 푸터영역 */
div[class="main-content"] > div[class="footer-section"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #a0e1ff;
    position: relative;
}

/* complete-section */
div[class="form-section"] > div[class="complete-button-section"] {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: #a0e1ff;
}

/* 버튼영역 */
div[class="complete-button-section"] > button{
    visibility: hidden;
    width: 15%;
    height: 100%;
    background-color: rgb(88, 190, 223);
    border-radius: 10px;
    box-shadow: 4px 1px 2px 1px #5d9dba;;
    cursor: pointer;
}



/* text-area-section */
div[class="form-section"] > div[class="text-area-section"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #a0e1ff;;
    position: relative;
}


/* textArea */
div[class="text-area-section"] > textarea {
    position: absolute;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    resize: none;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #31a6dc;
    top: 20px;
}


/* circle anime */
.anime-circle {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    font-size: 0.4rem;
    text-align: center;
    white-space: normal;
   
}



/* gausian 토글 버튼 영역 */
/* div[class=gausian-toggle-section] {
    display: flex;
    position: absolute;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    top: 1%;
    left: 4.5%;
} */


/* 토글 스위치 */
/* .toggleSwitch {
    width: 10vw;
    height: 8vh;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
} */
  
/* 토글 버튼 */
/* .toggleSwitch .toggleButton {
  width: 4vw;
  height: 7vh;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
} */
/* 체크박스가 체크되면 변경 이벤트 */
/* #toggle:checked ~ .toggleSwitch {
    background: #f03d3d;
}
   */
/* #toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 60px);
  background: #fff;
} */

/* .toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
} */