/* init */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
}
/* 메인 영역 */
div[class=main-content] {
    position:relative;
    background-color: navy;
    width: 100vw;
    height: 100vh;
}


/* 제목 영역 */
div[class=top-title-section] {
    width: 100vw;
    height: 5vh;
    font-size: 5em;
    background-color: #d9f2fe;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

/* 제목 영역 -> 제목 */
div[class=top-title-section] > div[class="title"] {
    position: absolute;
    width: 50%;
    height: 50%;
    font-size: 5em;
}

/* 이미지 영역 */
div[class=image-section] {
    width: 100vw;
    height: 85vh;
    background-color: rgb(242, 242, 218);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 폴리곤 이미지 영역 */
/* div[class=four-image-section] > div[class=polygon-ice] {
    display: flex;
    width: 30%;
    height: 30%;
    background-color: rgb(178, 84, 84);
    width: 100vmin;
    height: 84vmin;
    -webkit-clip-path: polygon(12% 44%, 46% 33%, 80% 36%, 100% 53%, 81% 74%, 48% 69%, 34% 72%, 12% 69%, 0% 2%);
    clip-path: polygon(2% 44%, 46% 33%, 80% 36%, 100% 53%, 81% 74%, 48% 69%, 34% 72%, 12% 69%, 0% 72%);
    position: absolute;
    background: linear-gradient(#dde 30%, #eee 60%);
    top: 2%;
    left: 50%;
    transform: translatex(-50%);

} */

/* 이미지 영역의 이미지 박스 영역 */
div[class=image-section] > div[class="four-image-section"]{
    width: 100%;
    height: 100%;
    background-color: #a0e1ff;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    perspective: 400px;
}

/* 이미지 박스 */
div[class~=image-box] {
    margin: 50px;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: #ffffff;
    animation-name: image-box;
    animation-delay: 1.2s;
    animation-duration: 2s, 2s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-fill-mode: both;
    position: relative;
}
/* 박스 애니메이션 */
@keyframes image-box {
    from{
        width: 0px;
        height: 0px;
    }
    to {
        border-radius: 4.5%;
        width: 50%;
        height: 70%;
    }
}

/* 이미지 박스 가우시안 */
div[class~=image-box] > div[class="gausian"]{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* box-shadow: 2px -1px 2px 0.5px rgb(196, 214, 246); */
    background-color: rgb(88, 190, 223);
}


/* 이미지 박스 가우시안 마우스 올려졌을 때*/
div[class~=image-box] > div[class="gausian"]:hover{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0);
    animation-name: gausian;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes gausian {
    0% {
        background-color: rgb(88, 190, 223);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

/* 가우시안 텍스트 */
div[class="gausian"] h2{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    color: white;
}




/* 푸터 영역 */
div[class=footer-section] {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0e1ff;
    position: relative;
}



/* 푸터 영역 */
div[class=footer-section] > div[class="form-section"]{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-bottom: 80px;
    background-color: rgb(243, 220, 127);
    
}
/* 푸터 영역의 text-area */
form[class="word-form"] > textarea {
    border: 3px solid rgb(35, 48, 163);
    background-color: rgb(251, 251, 251);
    font-size: 2em;
    resize: none;
}





