/* init */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* overlay screen */
div[class="overlay"] {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    backdrop-filter: blur(10px);
}

/* 메인 영역 */
div[class=main-content] {
    position:relative;
    background-color: #a0e1ff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 네비게이션 영역 */
div[class="main-content"] > div[class="nav-section"] {
    width: 100%;
    height: 10vh;
    position: relative;
    display:flex;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    background-color: #a0e1ff;
}

/* i 영역 */
div[class="nav-section"] > div[class="item-section"] {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 50%;
    height: 100%;
    color:white;
    /* background-color: rgb(109, 115, 115); */
}

/* toggle button */
div[class="item-section"] #sun {
    /* background-color: rgb(243, 156, 26); */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-radius: 50px;
    text-align: center;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.8rem; */
    cursor: pointer;
}

/* logo image */
div[class="sun-anime"] > img{
    width: 80%;
    height: 80%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/* logo image hover */
div[class="sun-anime"] > img:hover{
    transform: scale(1.2);
}
/* logi image not hover */
div[class="sun-anime"] > img:not(:hover){
    transform: scale(1);
}

/* list 부모영역 */
div[class="item-section-relative"] {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    /* background-color: rgb(92, 175, 234);    */
}

/* word list 영역 */
div[class="item-section"] #list {
    background-color: rgb(98, 161, 205);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 30px 0px 0px 30px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}


div[class="item-section"] #list:hover{
    width: 80%;
    
}
div[class="item-section"] #list:not(:hover){
    background-color: rgb(98, 161, 205);
}

.hover-effect {
    width: 30%;
}


/* title */
div[class="item-section"] > div[class="book-title"] {
    background-color: rgb(140, 197, 237);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    font-size: 1.2rem;
    border-radius: 30px 30px 30px 30px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* title */
div[class="item-section"] > div[class="book-title"]:hover{
    width: 45%;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
}


/* div[class="toggle-section"] button{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #e7722a;
    cursor: pointer;
    border-radius: 10px;
} */


/* 이미지 영역 */
div[class=image-section] {
    width: 100vw;
    height: 70vh;
    background-color: rgb(242, 242, 218);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 영역의 이미지 박스 영역 */
div[class=image-section] > div[class="four-image-section"]{
    width: 100%;
    height: 100%;
    background-color: #a0e1ff;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: start;
    perspective: 400px;
}

/* 이미지 박스 */
div[class~=image-box] {
    box-sizing: border-box;
    margin: 50px;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    /* border: 2px solid #4a8cab; */
    /* box-shadow: 0px 5px 10px 0.4px #969f9f;; */
    background-color: #ffffff;
    /* animation-name: image-box; */
    animation-delay: 1.2s;
    animation-duration: 2s, 0.2s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-fill-mode: both;
    position: relative;
}
/* 박스 애니메이션 */
@keyframes image-box {
    0%{
        width: 0%;
        height: 0%;
    }
    100% {
        width: 50%;
        height: 70%;
    }
}

/* 이미지 박스 가우시안 */
div[class~=image-box] > div[class="gausian"]{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* box-shadow: 2px -1px 2px 0.5px rgb(196, 214, 246); */
    background-color: rgba(88, 190, 223, 1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

}

/* 이미지 박스 가우시안 마우스 올려졌을 때*/
div[class~=image-box] > div[class="gausian"]:hover{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0);
    /* transform: scale(0); */
}

div[class~=image-box] > div[class="gausian"]:not(:hover){
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(88, 190, 223, 1);
}


/* 가우시안 텍스트 */
div[class="gausian"] h2{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    color: white;
}


/* 푸터영역 */
div[class="main-content"] > div[class="footer-section"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #a0e1ff;
    position: relative;
}

/* complete-section */
div[class="form-section"] > div[class="complete-button-section"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    border-radius: 50px;
    background-color: #a0e1ff;
}

/* 버튼영역 */
div[class="complete-button-section"] > button{
    visibility: hidden;
    width: 50px;
    height: 50px;
    background-color: rgb(235, 247, 176);
    border-radius: 50px;
    cursor: pointer;
}



/* text-area-section */
div[class="form-section"] > div[class="text-area-section"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: #a0e1ff;;
    position: relative;
}


/* textArea */
div[class="text-area-section"] > textarea {
    position: absolute;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    resize: none;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #31a6dc;
    top: 20px;
}


/* circle anime */
.anime-circle {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    font-size: 0.5rem;
    text-align: center;
    white-space: normal;
    cursor: pointer;
}

.anime-circle:hover {
    width: 55px;
    height: 55px;
}


/* 이미지 슬라이드 */
.image-slide {
    animation-delay: 0.2s;
    animation-duration: 2s, 1.5s;
    animation-name: image-slide;
    animation-timing-function: cubic-bezier(0.47, 0, 0.57, 1.01);
    animation-fill-mode: both;
    transition: transform 0.3s ease;
}
/* 박스 애니메이션 */
@keyframes image-slide {
    0%{
        width: 0%;
        height: 0%;
    } 
    100% {
        width: 20%;
        height: 70%;
    }
}



.image-slide:hover{
    cursor: pointer;
    margin: 10px;
    transform: scale(1.3);
}
/* gausian 토글 버튼 영역 */
/* div[class=gausian-toggle-section] {
    display: flex;
    position: absolute;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    top: 1%;
    left: 4.5%;
} */


/* 토글 스위치 */
/* .toggleSwitch {
    width: 10vw;
    height: 8vh;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
} */
  
/* 토글 버튼 */
/* .toggleSwitch .toggleButton {
  width: 4vw;
  height: 7vh;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
} */
/* 체크박스가 체크되면 변경 이벤트 */
/* #toggle:checked ~ .toggleSwitch {
    background: #f03d3d;
}
   */
/* #toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 60px);
  background: #fff;
} */

/* .toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
} */