/* 가상클래스로 변수를 관리하는데 리팩토링할때 정리하자 */
:root {
    --main-background-color: #a0e1ff;
    --agree-button-background-color : #f1dba9;
    --generate-button-background-colir :#f3947c;
}
/* init */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 메인 영역 */
div[class= teacher-main] {
    position:relative;
    background-color: #a0e1ff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 이미지 영역 */
div[class=teacher-image-section] {
    width: 100vw;
    height: 70vh;
    background-color: rgb(242, 242, 218);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* 이미지 영역의 이미지 박스 영역 */
div[class=teacher-image-section] > div[class="teacher-four-section"]{
    width: 100%;
    height: 100%;
    background-color: #a0e1ff;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: start;
    perspective: 400px;
}

/* 이미지 박스 */
div[class~=teacher-generated-box] {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* 222 * 435 */
    width: 70%;
    height: 90%;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 30px;
    /* animation-name: image-box; */
}

div[class="footer-section"] {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}

div[class="footer-section"] > div[class="button-section"] {
    align-items: center;
    width: 30%;
    height: 30%;
    margin: 30px;
    background-color: bisque;
    border-radius: 20px;
    font-size: 11px;
}

#agree {
    background-color: var(--agree-button-background-color);
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}
#agree:hover {
    transform: scale(1.12);
}

#regenerate {
    background-color: var(--generate-button-background-colir);
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
}
#regenerate:hover {
    transform: scale(1.12);
}

/* 이미지의 원본을 유지한채로 잘리지 않고 넣어주는 방법은 뭐가 있을까. */
/* object-fit은 종횡비는 유지하면서 만약 채워지는 공간과 비율이 맞지 않는다면 확대해서 채우게 되니까 */
.check-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}